.card-container{
    width:320px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.explore_button{
    background-color:#ffc107;
    outline:none;
    border:none;
    width:94%;
    padding:8px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}
.hyper_link_carousel{
    text-decoration:none;
    color:#000;
    font-weight:600;
}
@media screen and (min-width:768px){
    .carousel_card_container{
        width:260px !important;
    }
    .card-container{
        width:280px;
    }
    .explore_button{
        width:93%;
    }
}