.login-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  margin: auto;
  background-color:#ffffff;
  width:90%;
  max-width:1114px;


}
@media screen and (max-width:768px){
  .login-form-container{
    flex-direction:column;
    align-items:center;
    height:auto;
    justify-content:center;
  }
}
.login-background-container{
  display: flex;
  flex-direction: column;
  border-radius:12px;
  width: 100%;
  max-width:300px;
  background-color:#ffffff;
}

@media screen and (min-width: 992px) {
  .login-background-container {
    width:320px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 54px 38px 54px 38px;
  }
}
.login-image-logo-trekglobal{
  width:500px;
}
@media screen and (max-width:768px){
  .login-image-logo-trekglobal{
    width:250px;
  }
}
.login-input-form-container{
  width:90%;
}
.login-text{
  padding:0;
  margin-top:0;
  font-size:25px;
  font-family:"Roboto";
  text-align:center;

}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size:14px;   
  color: #475569;
}


.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
.forgot_password_text{
  font-weight:normal;
  font-family:normal;
  text-align:left;
  margin-top:10px;
}
.link-primary {
  color: blue;
  text-decoration: none;
}

.link-primary:hover {
  text-decoration: underline;
}
.dont_have_account_text{
  font-weight:normal;
  
}

.login_password_input_field {
  font-size:15px;
  height:40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login_email_input_field{
  height:40px;
  font-size: 15px;
  outline: none;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;

}